.about-us-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.alexa-henry-card {
  width: 100%;
  max-width: 25rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 3rem;
}

.alexa-henry-card img {
  width: 100%;
  transition: filter 0.2s;
}

.alexa-henry-card h1 {
  font-family: "Jua";
  font-size: 2.5em;
  text-align: center;
  color: #ffffff;
  margin: 0 20%;
  width: 60%;
  position: absolute;
  transform: translateY(-12.5rem);
  transition: transform 0.5s;
}

.alexa-henry-card:hover img, .alexa-henry-card:active img {
  filter: brightness(50%);
}

.alexa-henry-card:hover h1, .alexa-henry-card:active h1 {
  transform: translateY(-25rem);
}

.alexa-henry-card p {
  color: #ffffff;
  line-height: 1.25rem;
  opacity: 0;
  margin: 0 20%;
  width: 60%;
  position: absolute;
  transform: translateY(-6.25rem);
  transition: opacity 0.2s ease-out, transform 0.5s ease-in-out;
}

.alexa-henry-card:hover p, .alexa-henry-card:active p {
  opacity: 1;
  transform: translateY(-18.75rem);
}

.tuna-card {
  width: 100%;
  max-width: 25rem;
  margin: 5rem 0 0;
  cursor: pointer;
  margin: auto;
  position: relative;
}

.tuna-card img {
  width: 100%;
  transition: filter 0.2s;
}

.tuna-card h1 {
  font-family: "Jua";
  font-size: 2.5em;
  text-align: center;
  color: #ffffff;
  transform: translateY(-25rem);
  margin: 0 20%;
  width: 60%;
  position: absolute;
}

.tuna-card p {
  color: #ffffff;
  line-height: 1.25rem;
  opacity: 0;
  margin: 0 20%;
  width: 60%;
  position: absolute;
  transform: translate(-9.375rem, -21.25rem);
  transition: opacity 0.2s ease-out, transform 0.5s ease-out;
}

.tuna-card:hover img, .tuna-card:active img {
  filter: brightness(50%);
}

.tuna-card:hover p, .tuna-card:active p {
  opacity: 1;
  transform: translate(0px, -21.25rem);
}

@media only screen and (min-width: 60em) {
  .about-us-container {
    flex-direction: row;
  }

  .alexa-henry-card {
    margin: 6.25rem 3.125rem 0 0;
  }

  .tuna-card {
    margin: 6.25rem 0 0;
  }
}
