.main-container-home {
  max-width: min(95%, 90rem);
  margin: auto;
}

.relative-positioned-home {
  position: relative;
}

.main-container-home h1 {
  margin: 1em 0 0.2em 0;
}

.main-container-home h2 {
  margin: 1em 0;
}

.couple-img-home {
  width: 100%;
  max-width: none;
}

.background-home::before {
  content: "";
  top: calc(-0.1 * min(95vw, 90rem));
  height: calc(0.1 * min(95vw, 90rem));
  width: 100%;
  position: absolute;
  background-color: #588B8B;
  z-index: -100;
}

.grid-home {
  display: grid;
}

@media only screen and (min-width: 55rem) {
  .grid-home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid-image-home {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .grid-text-home {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}