.main-container__profile {
    max-width: min(95%, 90rem);
    margin: 2rem auto;
}

.search-controls__profile {
    position: relative;
}

.search-controls__profile  input{
    width: 100%;
    height: 2rem;
}

.search-controls__profile button {
    background-color: transparent;
    height: 2rem;
    padding: 0 0.5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}