.main-container__recipe {
    max-width: min(95%, 75rem);
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
}

.header-2__recipe {
    margin-bottom: 1rem;
}

.ingredient__recipe {
    cursor: pointer;
}

.ingredient-line-through__recipe {
    color: #595959;
    text-decoration: line-through #000000;
}

@media only screen and (min-width: 35rem){
    .main-container__recipe {
        grid-template-columns: 1fr 1fr;
    }
}