.loader-container {
    padding-top: 100px;
    width: 100%;
    height: 700px;
}

.loader {
    margin: auto;
    border: 10px solid #F9F9F9;
    border-top: 10px solid #588B8B;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }