.header__navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container__navbar {
  height: 4rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #bababa;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.links__navbar {
  flex: auto;
}

.header-container__navbar a {
  text-decoration: none;
}

.link__navbar {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.search-container__navbar {
  position: relative;
}

.search-container__navbar input {
  display: none;
  width: 100%;
  height: 2rem;
  border: 1px solid #bababa;
  border-radius: 0.25rem;
}

.header-container__navbar button {
  background-color: transparent;
  height: 2rem;
  padding: 0 0.5rem;
  border: none;
  cursor: pointer;
}

.user-auth__navbar {
  display: none;
}

.profile-pic__navbar {
  padding: 0.2rem 1rem;
}

.drop-down__navbar {
  width: 300px;
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #bababa;
  border-radius: 0.5rem;
  filter: drop-shadow(#bababa 0px 0px 1px);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.drop-down__navbar a {
  color: #212121;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
}

.drop-down__navbar a:hover {
  background-color: #bababa;
}

.drop-down-break__navbar {
  border-top: 1px solid #bababa;
  margin: 0.25rem 0;
}

/* Navbar currently breaks down at 25.625rems */

@media only screen and (min-width: 40rem) {
  .search-container__navbar input {
    display: inline;
  }

  .search-container__navbar {
    flex: auto;
  }

  .search-container__navbar button {
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 50rem) {
  .user-auth__navbar {
    display: flex;
  }
}
