.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  height: 4rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #BABABA;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar {
  flex: auto;
}

.header input {
  display: none;
  height: 2rem;
  flex: 1;
  padding-left: 0.5rem;
  border: 1px solid #BABABA;
  border-radius: 0.25rem;
}

.header a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.user-auth {
  display: none;
}

.header-search-bar-button { 
  background-color: transparent;
  height: 2rem;
  padding: 0 0.5rem;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 35rem) {
  .header input {
    display: flex;
  }

  .header-search-bar-button {
    position: relative;
    right: 2rem;
  }
}

@media only screen and (min-width: 50rem) {
  .header .user-auth {
    display: flex;
  }
}