.header-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container-navbar {
  height: 4rem;
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #BABABA;
  display: flex;
  align-items: center;
  gap: 10px;
}

.links-navbar {
  flex: auto;
}

.header-container-navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.search-container-navbar {
  position: relative;
}

.search-container-navbar input {
  display: none;
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  border: 1px solid #BABABA;
  border-radius: 0.25rem;
}

.search-container-navbar button { 
  background-color: transparent;
  height: 2rem;
  padding: 0 0.5rem;
  border: none;
  cursor: pointer;
}

.user-auth-navbar {
  display: none;
}

.user-auth-navbar button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
}

/* Navbar currently breaks down at 25.625rems */

@media only screen and (min-width: 40rem) {
  .search-container-navbar input {
    display: inline;
  }

  .search-container-navbar {
    flex: auto;
  }

  .search-container-navbar button {
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 50rem) {
  .user-auth-navbar {
    display: flex;
  }
}