.recipe-editor-container {
  width: 95%;
  margin: auto;
}

.recipe-editor-container label, .recipe-editor-container legend {
  display: block;
  padding: 1em 0.2em;
}

.recipe-editor-container input[type="text"] {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #BABABA;
  height: 2rem;
}

.recipe-editor-container textarea {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #BABABA;
  height: 10rem;
}

.recipe-editor-container form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.categories-editor {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  justify-content: start;
  align-content: start;
}

.categories-editor label {
  display: inline-block;
  padding: 1em 0.2em 0;
}

