.recipe-editor {
  margin: 50px 10%;
  padding: 0 5%;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
  border-radius: 30px;
  overflow: auto;
}

.recipe-editor input:focus,
.recipe-editor textarea:focus {
  outline-color: #588b8b;
}

.recipe-editor h1 {
  font-family: "Jua";
  font-size: 2.5em;
  margin: 40px 0;
}

.recipe-editor .sidebar {
  float: left;
  width: 15%;
}

.recipe-editor .sidebar button {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: "Jua";
  font-size: 1.2em;
  text-align: left;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
}

.recipe-editor .sidebar .current-page {
  color: #c8553d;
}

.recipe-editor .input-container {
  display: inline-block;
  margin-left: 5%;
  width: 80%;
}

.recipe-editor h2 {
  font-size: 1.2em;
  margin: 20px 0;
}

.recipe-editor label {
  font-size: 1.2em;
}

.recipe-editor label input[type="text"],
.recipe-editor textarea {
  display: block;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
}

.recipe-editor label input[type="text"] {
  height: 40px;
  padding-left: 10px;
}

.recipe-editor .autosize-input-label {
  display: inline-block;
}

.recipe-editor .tag {
  display: inline-block;
  margin: 20px 10px 20px 0;
}
.recipe-editor .tag button {
  color: #ffffff;
  background-color: #c8553d;
  border: 1px solid #c8553d;
  padding: 6px 16px;
  border-radius: 16px;
  cursor: pointer;
}

.recipe-editor .tag .unselected {
  color: #212121;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
}

.recipe-editor textarea {
  resize: vertical;
  height: 150px;
  width: 100%;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.recipe-editor img {
  width: 60%;
  margin: 0 20% 20px;
  border-radius: 30px;
}

.recipe-editor .picture-input-controls {
  display: flex;
  justify-content: center;
}

.recipe-editor .picture-upload-input {
  display: none;
}

.recipe-editor .picture-upload-label {
  font-size: 0.8em;
  text-align: center;
  line-height: 50px;
}

.recipe-editor p {
  line-height: 22px;
  margin-bottom: 20px;
}

.recipe-editor .button-icon {
  background-color: #ffffff;
  border: none;
  width: 40px;
  cursor: pointer;
}

.recipe-editor .delete-ingredient-icon {
  position: relative;
  top: 5px;
}

.recipe-editor .add-icon {
  margin: 10px 0 40px;
  display: block;
}

.recipe-editor li textarea {
  width: 90%;
  margin: 0 1% 10px 0;
  display: inline-block;
}

.recipe-editor .delete-instruction-icon {
  position: relative;
  top: -135px;
}

.recipe-editor .standard-recipe-button {
  color: #212121;
  background-color: #f9f9f9;
  border: 1px solid #bababa;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.recipe-editor .delete-recipe-button {
  color: #ffffff;
  background-color: #c8553d;
  border: 1px solid #c8553d;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
