.main-container__recipe-list {
  max-width: min(95%, 90rem);
  margin: auto;
}

.list-container__recipe-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.link__recipe-list {
  text-decoration: none;
}

.link__recipe-list > p {
  margin-top: 1rem;
  text-align: center;
}

@media only screen and (min-width: 25rem) {
  .list-container__recipe-list  {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 45rem) {
  .list-container__recipe-list  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 70rem) {
  .list-container__recipe-list  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}