.container__unavailable {
  width: 100%;
  height: calc(100vh - 8rem);
  justify-content: center;
}

.container__unavailable p {
  text-align: center;
  
}

.container__unavailable a {
  text-align: center;
  text-decoration: none;
  display: block;
}
