/* In future can use the ch measurement and javascript to adjust
the width of the inputs to be the width of the text inside it */

.creator input {
  border: none;
  display: block;
  padding: 0;
}

.creator textarea {
  border: none;
  display: block;
  padding: 0;
}

.creator textarea:focus, .creator input:focus{
    outline: none;
}

.creator ul {
  margin-bottom: 10px;
}

.creator .button {
  border-radius: 12px;
  border: solid 1px #bababa;
  padding: 0 15px;
  margin: 2px 10px 2px 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 25px;
  cursor: pointer;
}

.creator .name {
  margin: 50px 7% 30px;
  font-family: "Jua", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;
  color: #212121;
  width: 100%;
}

.creator .info {
  width: 42%;
  float: left;
  margin-left: 7%;
  margin-right: 6%;
  overflow: auto;
}

.creator .info .servings {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  text-align: right;
  margin-bottom: 10px;
  color: #c8553d;
  float: left;
  width: 20px;
}

.creator .info .time {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  text-align: right;
  margin-bottom: 10px;
  color: #c8553d;
  float: left;
  width: 40px;
}

.creator .info .text {
  width: auto;
  margin-left: 10px;
}

.creator .info .description {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  color: #212121;
}

.creator .info .tagList {
  overflow: auto;
}

.creator .info .tag {
  float: left;
  border-radius: 12px;
  border: solid 1px #bababa;
  padding: 0 15px;
  margin: 5px 10px 5px 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 25px;
  cursor: pointer;
}

.creator .info .selected {
  background-color: #c8553d;
  color: #ffffff;
}

.creator .info .unselected {
  background-color: #f9f9f9;
  color: #212121;
}

.creator .info .upload {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  color: #212121;
  margin: 15px 0;
  clear: both;
}

.creator .info .photo {
  display: block;
  clear: left;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 40px;
}

.creator .ingredients {
  border-radius: 20px 0 0 20px;
  background: #c8553d;
  padding: 30px 0;
  margin: 0 0 40px;
  width: 45%;
  float: right;
  overflow: auto;
}

.creator .ingredients p {
  position: relative;
  color: #f0e6c4;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.35em;
  width: 120px;
  margin: 0 15% 10px;
  right: 20px;
}
.creator .ingredients li {
  list-style-type: disc;
  margin: 0 10% 0 15%;
  color: #f9f9f9;
}

.creator .ingredients input {
  background-color: #c8553d;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  color: #f9f9f9;
  display: inline-block;
  width: 200px;
}

.creator .ingredients input::placeholder {
  color: #f9f9f9;
}
.creator .ingredients .measurement {
  width: 100px;
}

.creator .add {
  position: relative;
  margin: 20px 0 0 15%;
  right: 20px;
}

.creator .instructions {
  clear: both;
  background: #CCDCDC;
  padding: 30px 0 50px;
  margin-bottom: 20px;
}

.creator .instructions p {
  position: relative;
  color: #212121;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 1.35em;
  width: 120px;
  margin: 0 15% 10px;
  right: 20px;
}

.creator .instructions li {
  list-style-type: decimal;
  margin: 0 10% 0 15%;
  color: #3D6161;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-size: 1em;
}

.creator .instructions input {
  background-color: #CCDCDC;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  color: #3D6161;
  display: inline-block;
  width: 80%;
}

.creator .submit {
  margin-left: 7%;
}