/* In future can use the ch measurement and javascript to adjust
the width of the inputs to be the width of the text inside it 
 - This seems most easily accomplished using spans */

.editor input {
  border: none;
  display: block;
  padding: 0;
}

.editor textarea {
  border: none;
  display: block;
  padding: 0;
  resize: vertical;
}

.recipe-info-editor {
  margin: 0 10%;
}

.recipe-info-editor .name {
  margin: 50px 0 30px;
  font-family: "Jua", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5em;
  color: #212121;
}

.recipe-info-editor span,
.recipe-info-editor button {
  font-size: 1em;
  line-height: 25px;
  color: #ffffff;
  background-color: #c8553d;
  padding: 6px 16px;
  border-radius: 16px;
  margin: 0 10px 10px 0;
  white-space: nowrap;
  float: left;
  transition: color 0.2s, background-color 0.2s;
}

.recipe-info-editor span input {
  font-size: 1em;
  line-height: 25px;
  color: #ffffff;
  background-color: #c8553d;
  display: inline-block;
  width: 1ch;
  border-bottom: 1px solid #f0e6c4;
}

.recipe-info-editor button {
  cursor: pointer;
  border: none;
}

.recipe-info-editor .unselected {
  background-color: #f9f9f9;
  color: #212121;
  padding: 5px 15px;
  border: solid 1px #bababa;
}

.recipe-info-editor textarea {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 25px;
  margin: 30px 0;
  clear: both;
  width: 100%;
}

.recipe-info-editor img {
  width: 90%;
  margin: 0 5% 20px;
  border-radius: 30px;
  filter: drop-shadow(0px 10px 5px #3c1811);
}

.recipe-info-editor .noPicture {
  width: 50%;
  height: 300px;
}

.recipe-method-editor {
  background-color: #c8553d;
  padding: 100px 20%;
  position: relative;
  overflow-x: clip;
}

.recipe-method-editor::before {
  content: "";
  background-color: #c8553d;
  display: block;
  width: 140%;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -130px;
  left: -20%;
  z-index: -1;
}

.recipe-method-editor .ingredients {
  width: 100%;
  margin-bottom: 50px;
}

.recipe-method-editor .instructions {
  width: 90%;
  margin-left: 25px;
}

.recipe-method-editor h2 {
  font-size: 1.8em;
  line-height: 25px;
  color: #f0e6c4;
  margin-bottom: 35px;
}

.recipe-method-editor li input {
  font-size: 1.2em;
  line-height: 35px;
  color: #ffffff;
  background-color: #c8553d;
  display: inline-block;
  border-bottom: 1px solid #f0e6c4;
  width: 1ch;
  margin-right: 10px;
}

.recipe-method-editor .instructions h2 {
  position: relative;
  right: 25px;
}

.recipe-method-editor .instructions li {
  list-style-type: decimal;
  line-height: 25px;
  margin-bottom: 10px;
}

.recipe-method-editor .buttonIcon {
  display: inline-block;
  background-color: #c8553d;
  color: #ffffff;
  border: none;
}

.span-for-auto-expanding-input {
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 1ch;
  font-size: 1.2em;
  line-height: 35px;
  color: #ffffff;
}

@media only screen and (min-width: 30em) {
  .recipe-method-editor::before {
    height: 300px;
    top: -200px;
  }

  .recipe-info-editor img {
    width: 70%;
    margin: 0 15% 20px;
  }
}

@media only screen and (min-width: 40em) {
  .recipe-method-editor {
    padding: 100px 10%;
    display: flex;
  }

  .recipe-method-editor .ingredients {
    width: 30%;
    margin-right: 10%;
    margin-bottom: 0;
  }

  .recipe-method-editor .instructions {
    width: 60%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 55em) {
  .recipe-method-editor::before {
    height: 500px;
    top: -300px;
  }

  .recipe-info-editor img {
    width: 50%;
    margin: 0 25% 20px;
  }

  .recipe-method-editor h2 {
    font-size: 2em;
  }

  .recipe-method-editor li input {
    font-size: 1.3em;
  }
}
