.page-container-recipe {
    max-width: min(95%, 90rem);
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.info-container-recipe {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
}

.info-container-recipe h1 {
    width: 100%;
}

.category-container-recipe {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: end;
}

.category-container-recipe div {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.page-container-recipe img {
    border-radius: 0.5rem;
}

.bottom-background-recipe {
    margin-top: 2rem;
}

.bottom-container-recipe {
    max-width: min(95%, 90rem);
    min-height: 10rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.bottom-container-recipe h2 {
    margin: 2rem 0;
}

.instructions-recipe {
    list-style-type: decimal;
    margin-left: 1.5rem;
}