.recipeInfo {
  margin: 0 10%;
}

.recipeInfo h1 {
  margin: 50px 0 30px;
  font-family: "Jua", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5em;
  color: #212121;
  text-transform: capitalize;
}

.recipeInfo span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  color: #ffffff;
  background-color: #C8553D;
  padding: 6px 16px;
  border-radius: 16px;
  margin: 0 10px 10px 0;
  white-space: nowrap;
  float: left;
}

.recipeInfo p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 25px;
  margin: 30px 0;
  clear: both;
}

.recipeInfo img {
  width: 90%;
  margin: 0 5% 20px;
  border-radius: 30px;
  filter: drop-shadow(0px 10px 5px #3c1811);
}

.recipeInfo .noPicture {
  width: 50%;
  height: 300px;
}

.recipeBackground {
  background-color: #C8553D;
  padding: 100px 20%;
  position: relative;
  overflow-x: clip;
}

.recipeBackground::before {
  content: "";
  background-color: #C8553D;
  display: block;
  width: 140%;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -130px;
  left: -20%;
  z-index: -1;
}

.recipeBackground .ingredients {
  width: 100%;
  margin-bottom: 50px;
}

.recipeBackground .instructions {
  width: 90%;
  margin-left: 25px;
}

.recipeBackground h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 25px;
  color: #F0E6C4;
  margin-bottom: 35px;
}

.recipeBackground li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 35px;
  color: #ffffff;
}

.recipeBackground .ingredients li{
  cursor: pointer;
}

.recipeBackground .ingredients .line-through {
  color: lightgrey;
  text-decoration: line-through #F0E6C4;
}

.recipeBackground .instructions h2 {
  position: relative;
  right: 25px;
}

.recipeBackground .instructions li {
  list-style-type: decimal;
  line-height: 25px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 30em) {
  .recipeBackground::before {
    height: 300px;
    top: -200px;
  }

  .recipeInfo img {
    width: 70%;
    margin: 0 15% 20px;
  }
}

@media only screen and (min-width: 40em) {
  .recipeBackground {
    padding: 100px 10%;
    display: flex;
  }

  .recipeBackground .ingredients {
    width: 30%;
    margin-right: 10%;
    margin-bottom: 0;
  }

  .recipeBackground .instructions {
    width: 60%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 55em) {
  .recipeBackground::before {
    height: 500px;
    top: -300px;
  }

  .recipeInfo img {
    width: 50%;
    margin: 0 25% 20px;
  }

  .recipeBackground h2 {
    font-size: 2em;
  }

  .recipeBackground li {
    font-size: 1.3em;
  }
}