.search-bar-search {
  max-width: min(95%, 90rem);
  margin: 2rem auto;
  position: relative;
}

.search-bar-search input {
  height: 2rem;
  width: 100%;
}

.search-bar-search button {
  height: 2rem;
  position: absolute;
  right: 0.2rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}